<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un rêve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ajouter un nouveau rêve</h2>

<form method="POST">

    <input type="text" name="title" placeholder="Titre" required>

    <textarea name="content" placeholder="Décris ton rêve..." required></textarea>

    
    <label>
    <input type="checkbox" name="is_public">
    Publier ce rêve
</label>

<div class="dream-type-box">
    <label>
        <input type="radio" name="dream_type" value="reve" checked>
        🌙 Rêve
    </label>

    <label>
        <input type="radio" name="dream_type" value="cauchemar">
        😱 Cauchemar
    </label>
</div>

<button type="submit" class="btn"> Interpréter</button>
<a href="{{ url_for('feed') }}" class="btn back-btn"> Retour au fil d'actualité </a>  

        </form>
    </div>
</body>
</html>