
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un rêve</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Ajouter un nouveau rêve</h2>

<form method="POST">

    <input type="text" name="title" placeholder="Titre" required>

    <textarea name="content" placeholder="Décris ton rêve..." required></textarea>

    
    <label>
        <input type="checkbox" name="is_public">
        Publier ce rêve dans le feed public
    </label>

            <button type="submit" class="btn">Ajouter & Interpréter</button>
        </form>
    </div>
</body>
</html>