<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Nebula</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
<body>

  <div class="container">

    <header class="logo">
      <img src="{{ url_for('static', filename='star.png' )}}" class="main-logo-img"> 
      <h1>Nebula</h1>
    </header>

    <div class="card">
      

      <form method="POST" action="{{ url_for('login') }}">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <button type="submit" class="btn"> Se connecter</button>
</form>

    <p class="signup">
      Pas encore de compte ? 
      <a href="{{ url_for('register') }}">S'inscrire</a>
    </p>
    </div>

  </div>

</body>
</html>