<div class="profile-avatar-selector">
    <label class="selector-title">Choisissez votre photo de profil :</label>
    
    <div class="avatar-options">
        <label class="avatar-radio-label">
            <input type="radio" name="profile_pic" value="avatar1.png" required checked>
            <img src="{{ url_for('static', filename='avatar/avatar1.png') }}" class="avatar-img">
        </label>

        <label class="avatar-radio-label">
            <input type="radio" name="profile_pic" value="avatar2.png">
            <img src="{{ url_for('static', filename='avatar/avatar2.png') }}" class="avatar-img">
        </label>

        <label class="avatar-radio-label">
            <input type="radio" name="profile_pic" value="avatar3.png">
            <img src="{{ url_for('static', filename='avatar/avatar3.png') }}" class="avatar-img">
        </label>

        <label class="avatar-radio-label">
            <input type="radio" name="profile_pic" value="avatar4.png">
            <img src="{{ url_for('static', filename='avatar/avatar4.png') }}" class="avatar-img">
        </label>

        <label class="avatar-radio-label">
            <input type="radio" name="profile_pic" value="avatar5.png">
            <img src="{{ url_for('static', filename='avatar/avatar5.png') }}" class="avatar-img">
        </label>
    </div>
</div>
